.container{
    background-color: rgba(143, 199, 209, 0.603);
    border: 2px solid powderblue;
    border-radius: 20px;
    margin: 30px;
    padding: 20px;
}
.container h1 {
    color: rgb(9, 19, 172);
}
.container img{
    width: 200px;
}